<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<!-- HEAD DEL HTML -->
<head th:replace="~{general :: headers}">
</head>

<body>
	<!-- CONTENIDO DE CABECERA DE LA APP -->
	<div th:replace="~{general :: headerContent}">
	</div>

	<div class="container">
		<h2 class="text-center mt-5">Buscar clientes</h2>

		<!-- FORMULARIO BUSCAR CLIENTES POR CRITERIOS-->
		<form action="searchByCriterio" method="POST" class="mt-4">
			<div class="row mb-4">
				<div class="col-md-6">
					<div class="form-group">
						<label for="criterio" class="font-weight-bold">Criterio de
							Búsqueda:</label>
						<select name="criterio" id="criterio" class="form-control">
							<option value="name">Nombre</option>
							<option value="surname">Primer apellido</option>
							<option value="secondSurname">Segundo apellido</option>
							<option value="dni">DNI</option>
						</select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="value" class="font-weight-bold">
							Valor de Búsqueda:
						</label>
						<input type="text" name="value" id="value" class="form-control">
					</div>
				</div>
				<input type="submit" name="searchButton" value="Buscar" class="btn btn-primary mt-3 col-md-1 mx-auto" />
			</div>
		</form>

		<!-- MENSAJE ORIENTATIVO -->
		<div th:if="${customers != null and #lists.size(customers) == 0}"
			class="alert alert-success mt-3 mx-auto col-md-3">
			No hay existen resultados para esta búsqueda
		</div>

		<!-- RESULTADOS DE LA BUSQUEDA -->
		<div th:unless="${#lists.isEmpty(customers)}">
			<h2 class="text-center mt-4">Resultados:</h2>
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Primer apellido</th>
							<th>Segundo apellido</th>
							<th>Fecha de nacimiento</th>
							<th>DNI</th>
							<th style="width: 1%;">Datos</th>
							<th style="width: 1%;">Contrato</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="customer : ${customers}">
							<tr>
								<td th:text="${customer.name()}">
								</td>
								<td th:text="${customer.surname()}">
								</td>
								<td th:text="${customer.secondSurname()}">
								</td>
								<td th:text="${customer.birthdate()}">
								</td>
								<td th:text="${customer.dni()}">
								</td>
								<td>
									<!-- BOTON MODIFICAR -->
									<button style="padding: 1px;" class="btn btn-secondary" th:value="${customer.dni()}"
										th:onclick="sendForm(this)">Modificar</button>
								</td>
								<td>
									<!-- BOTON ELIMINAR -->
									<button style="padding: 1px;" class="btn btn-danger" th:value="${customer.dni()}"
										th:onclick="prepareDelete(this)">Eliminar</button>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>

			<!-- FORMULARIO OCULTO PARA ENVIAR EL CLIENTE A MODIFICAR A OTRA VISTA-->
			<form action="redirectToModifyCustomer" method="POST" id="formMod" class="text-center mt-4">
				<input type="hidden" name="customerDni" id="customerDni" />
			</form>

		</div>

		<!-- VOLVER A MENU -->
		<p class="text-center mt-3">
			<a href="/" class="btn btn-primary">Volver</a>
		</p>
	</div>

	<div th:replace="~{general :: footSpace}">
	</div>

	<!-- CONTENIDO DE PIE DE PAGINA -->
	<div th:replace="~{general :: footerContent}">
	</div>

</body>

</html>