<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<!-- FRAGMENTO PARA HEAD DEL HTML DE LAS PAGINAS -->

<head th:fragment="headers">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Luz Fuego Destrucción</title>
<link rel="icon" href="/images/icons8-dragon-ball-24.png">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto">
<script src="https://kit.fontawesome.com/4358b9453c.js"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
	rel="stylesheet">
</head>

<body>
	<!-- FRAGMENTO PARA CONTENIDO DE CABECERA DE LAS PAGINAS -->
	<div class="header" th:fragment="headerContent" id="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<a class="navbar-brand" href="/#" title="Página de inicio"> <img
				src="/images/logo.png" alt="Logo Tienda" style="max-height: 80px;">
			</a>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item mr-sm-4"><a class="nav-link titleNav"
						href="/#">Inicio</a></li>
					<li class="nav-item dropdown mr-sm-4"><a
						class="nav-link titleNav dropdown-toggle" href="#"
						id="navbarDropdown" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"
						onclick="listCategoriesInNav()"> Tienda </a>
						<div class="dropdown-menu bg-dark" id="categoriesMenu"
							aria-labelledby="navbarDropdown"></div></li>
					<li class="nav-item mr-sm-4"><a class="nav-link titleNav"
						th:href="@{/about}	">Acerca de</a></li>
					<li sec:authorize="hasRole('SELLER')" class="nav-item"><a
						class="nav-link titleNav" th:href="@{/admin}" id="adminLink">Administración</a></li>
				</ul>

				<ul class="navbar-nav ml-auto">
					<form class="form-inline my-2 my-lg-0"
						action="/products/searchByProductNamePage" method="GET">
						<input class="form-control mr-sm-2" type="search"
							name="productName" placeholder="Buscar" aria-label="Search"
							required title="Introduzca el término de búsqueda">
						<button class="btn btn-outline-light my-2 my-sm-0 mr-sm-2"
							type="submit" title="Buscar">
							<i class="fas fa-search"></i>
						</button>
					</form>
					<li class="dropdown nav-item"
						th:if="${#authorization.expression('!isAuthenticated()')}"><a
						class="nav-link dropdown-toggle" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false" href="#"
						title="Acceder"> <i class="fas fa-user fa-lg"></i>
					</a>
						<ul id="login-dp" class="dropdown-menu dropdown-menu-right"
							sec:authorize="!isAuthenticated()">
							<li>
								<div class="row">
									<div class="col-md-12">
										Acceder
										<form class="form" role="form" action="/authentication"
											method="POST" accept-charset="UTF-8" id="login-nav">
											<div th:if="${param.error != null}"
												class="alert alert-danger" role="alert">Nombre de
												usuario o contraseña incorrectos.</div>
											<div class="alert alert-danger d-none"
												id='messageEmailErrorNav' role="alert"></div>
											<div class="form-group">
												<label class="sr-only" for="inputEmail2">Correo
													electrónico</label> <input type="email" class="form-control"
													id="inputEmail2" name="username"
													placeholder="Correo electrónico" required
													autocomplete="username">
											</div>
											<div class="form-group">
												<label class="sr-only" for="inputPassword2">Contraseña</label>
												<input type="password" name="password" class="form-control"
													id="inputPassword2" placeholder="Contraseña" required
													autocomplete="password">
												<div class="help-block text-right">
													<a id="linkRecoverPassword" href="#"
														onclick="loadRecoverPasswd(document.getElementById('inputEmail2').value)">¿Haz
														olvidado tu contraseña?</a>
												</div>
											</div>
											<div class="form-group">
												<button type="submit" class="btn btn-dark btn-block"
													onclick="submitLoginNav(event)">Iniciar sesión</button>
											</div>

										</form>
									</div>
									<div class="bottom text-center">
										¿Eres nuevo por aquí? <a id="linkRegister"
											th:href="@{/register}"><b>Resgístrate</b></a>
									</div>
								</div>
							</li>
						</ul></li>

					<li class="dropdown nav-item"
						th:if="${#authorization.expression('isAuthenticated()')}"><a
						class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
						role="button" aria-haspopup="true" aria-expanded="false"
						id="authenticatedUser" sec:authentication="name"> </a>
						<div class="dropdown-menu dropdown-menu-right bg-dark"
							aria-labelledby="navbarDropdown">
							<a class="dropdown-item bg-dark text-white"
								th:href="@{/userProfile}">Mis datos</a> <a
								class="dropdown-item bg-dark text-white" th:href="@{/myOrders}">Mis
								compras</a> <a class="dropdown-item bg-dark text-white"
								th:href="@{/logout}">Salir</a>
						</div></li>

				</ul>
			</div>

			<div class="navbar-nav">
				<div class="cart-container">
					<a id="cartIcon" class="nav-link titleNav"
						th:href="@{/shoppingCart}" title="Cesta de compras"> <i
						class="fas fa-shopping-cart fa-lg"></i>
					</a> <span id="cartQuantity" class="badge badge-pill badge-danger"></span>
				</div>
			</div>
		</nav>
		<div class="invisible d-md-block w-100"
			style="height: 107px; background-color: #f0f0f0;"></div>

		<!-- Modal Login -->
		<div class="modal fade" id="loginModal" tabindex="-1" role="dialog"
			aria-labelledby="generalModal" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Alerta de Seguridad</h5>
					</div>
					<div class="modal-body">La contraseña utilizada tiene como
						objetivo el primer inicio de sesión, debe cambiarla de inmediato o
						la aplicación será expuesta a brechas de seguridad.</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal" id="modalBtnOk"
							onclick="document.getElementById('login-nav').submit()">Aceptar</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- CONTENIDO DE CABECERA DE LA APP -->
	<div th:fragment="headerAdmin">

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContentAdmin"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<ul class="navbar-nav mr-auto mx-auto">
				<li class="nav-item active mr-sm-5"><span class="nav-link"><i
						class="fas fa-tachometer-alt mr-sm-2 fa-sm"></i> Gestionar tienda</span></li>
				<div class="collapse navbar-collapse"
					id="navbarSupportedContentAdmin">
					<!-- 					<li class="nav-item dropdown mr-sm-5"><a class="nav-link" -->
					<!-- 						th:href="@{/adminOrders}"> <i -->
					<!-- 							class="fas fa-shopping-basket fa-sm"></i> Pedidos -->
					<!-- 					</a></li> -->
					<li class="nav-item dropdown mr-sm-5"><a class="nav-link"
						th:href="@{/adminProducts}"> <i class="fas fa-box-open fa-sm"></i>
							Productos
					</a></li>
					<li class="nav-item dropdown mr-sm-5"><a class="nav-link"
						th:href="@{/adminComplaints}"> <i
							class="fas fa-exclamation-triangle fa-sm"></i> Denuncias
					</a><span id="newsComplaints" class="badge badge-pill badge-danger"></li>
					<li class="nav-item dropdown mr-sm-5"><a class="nav-link"
						th:href="@{/adminSendings}"> <i class="fas fa-truck fa-sm"></i>
							Envíos
					</a><span id="newsOrders" class="badge badge-pill badge-danger"></li>
					<li class="nav-item dropdown mr-sm-5"><a class="nav-link"
						th:href="@{/adminUsers}"> <i class="fas fa-users fa-sm"></i>
							Usuarios
					</a></li>
				</div>
			</ul>
		</nav>
	</div>

	<!-- Modal Address-->
	<div th:fragment="modalAddress">
		<div class="modal fade" id="modalAddress" tabindex="-1" role="dialog"
			aria-labelledby="modalAddress" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- Encabezado del modal -->
					<div class="modal-header">
						<h5 class="modal-title">Datos de la dirección</h5>
						<!-- Boton de cerrar -->
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<!-- Contenido del modal -->
					<div class="modal-body">
						<!-- Formulario para la nueva direccion -->
						<form id="formAddress">
							<div class="form-group">
								<div class="alert alert-danger d-none" role="alert"
									id="messageAddressError"></div>
								<input type="hidden" id="addressId"> <label
									for="addressLine">Línea de dirección</label> <input type="text"
									class="form-control" id="addressLine"
									placeholder="Ingrese la dirección">
							</div>
							<div class="form-group">
								<label for="city">Ciudad</label> <input type="text"
									class="form-control" id="city" placeholder="Ingrese la ciudad">
							</div>
							<div class="form-group">
								<label for="province">Provincia</label> <select
									class="form-control" id="province">
									<option value="Álava">Álava</option>
									<option value="Albacete">Albacete</option>
									<option value="Alicante">Alicante</option>
									<option value="Almería">Almería</option>
									<option value="Asturias">Asturias</option>
									<option value="Ávila">Ávila</option>
									<option value="Badajoz">Badajoz</option>
									<option value="Barcelona">Barcelona</option>
									<option value="Burgos">Burgos</option>
									<option value="Cáceres">Cáceres</option>
									<option value="Cádiz">Cádiz</option>
									<option value="Cantabria">Cantabria</option>
									<option value="Castellón">Castellón</option>
									<option value="Ciudad Real">Ciudad Real</option>
									<option value="Córdoba">Córdoba</option>
									<option value="Cuenca">Cuenca</option>
									<option value="Gerona">Gerona</option>
									<option value="Granada">Granada</option>
									<option value="Guadalajara">Guadalajara</option>
									<option value="Guipúzcoa">Guipúzcoa</option>
									<option value="Huelva">Huelva</option>
									<option value="Huesca">Huesca</option>
									<option value="Jaén">Jaén</option>
									<option value="La Coruña">La Coruña</option>
									<option value="La Rioja">La Rioja</option>
									<option value="León">León</option>
									<option value="Lérida">Lérida</option>
									<option value="Lugo">Lugo</option>
									<option value="Madrid">Madrid</option>
									<option value="Málaga">Málaga</option>
									<option value="Murcia">Murcia</option>
									<option value="Navarra">Navarra</option>
									<option value="Orense">Orense</option>
									<option value="Palencia">Palencia</option>
									<option value="Pontevedra">Pontevedra</option>
									<option value="Salamanca">Salamanca</option>
									<option value="Segovia">Segovia</option>
									<option value="Sevilla">Sevilla</option>
									<option value="Soria">Soria</option>
									<option value="Tarragona">Tarragona</option>
									<option value="Teruel">Teruel</option>
									<option value="Toledo">Toledo</option>
									<option value="Valencia">Valencia</option>
									<option value="Valladolid">Valladolid</option>
									<option value="Vizcaya">Vizcaya</option>
									<option value="Zamora">Zamora</option>
									<option value="Zaragoza">Zaragoza</option>
								</select>
							</div>
							<div class="form-group">
								<label for="postalCode">Código postal</label> <input
									type="number" minlength="5" maxlength="5" class="form-control"
									id="postalCode" placeholder="Ingrese el código postal">
							</div>
							<div class="form-group">
								<label for="country">País</label> <input type="text"
									class="form-control" id="country" value="España" readonly>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="saveAddress"
							onclick="saveAddressForm()">Guardar</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal Product-->
	<div th:fragment="modalProduct">
		<div class="modal fade" id="modalProduct" tabindex="-1" role="dialog"
			aria-labelledby="modalProduct" aria-hidden="true">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<!-- Encabezado del modal -->
					<div class="modal-header">
						<h5 class="modal-title" id="titleModalProduct"></h5>
						<!-- Boton de cerrar -->
						<button type="button" class="close" data-dismiss="modal"
							id="modalProductClose" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<!-- Contenido del modal -->
					<div class="modal-body">
						<div class="row">
							<!-- Sección de imagenes del producto -->
							<div class="col-md-6">
								<div id="carouselImagesProducts" class="carousel slide"
									data-ride="carousel">
									<ol class="carousel-indicators" id="carouselIndicators">
									</ol>
									<div class="carousel-inner" id="carouselInner"></div>
									<a class="carousel-control-prev" href="#carouselImagesProducts"
										role="button" data-slide="prev"> <span
										class="carousel-control-prev-icon" aria-hidden="true"></span>
										<span class="sr-only">Anterior</span>
									</a> <a class="carousel-control-next"
										href="#carouselImagesProducts" role="button" data-slide="next">
										<span class="carousel-control-next-icon" aria-hidden="true"></span>
										<span class="sr-only">Siguiente</span>
									</a>
								</div>
							</div>

							<!-- Seccion de detalles del producto -->
							<div class="col-md-6">
								<div
									class="d-flex flex-column justify-content-between h-100 text-center">
									<div class="alert alert-danger d-none mb-4 text-center"
										role="alert" id="messageProductQuantity"></div>
									<input type="hidden" id="productId">
									<h4 id="productName"></h4>
									<ul id="rating" class="rating d-none"></ul>
									<h4 id="productPrice"></h4>
									<h5>
										<i class="fas fa-plane mr-2"></i>Envío gratis
									</h5>
									<h5 id="productSize">Tamaño:</h5>

									<div class="form-row text-center mb-1">
										<div class="col-md-2">
											<label class="sr-only" for="quantity">Cantidad</label> <input
												type="number" class="form-control mb-2" id="quantity"
												placeholder="1" oninput="limitInput(this)">
										</div>
										<div class="col-md-4 mr-4">
											<button type="button" class="btn btn-primary mb-2 btn-block"
												id="addToCartButton"
												onclick="addCart(document.getElementById('productId').value, document.getElementById('quantity').value)">
												<i class="fa-solid fa-cart-plus mr-sm-2"></i>Añadir al
												carrito
											</button>
										</div>
										<div class="col-md-4">
											<a th:href="@{/shoppingCart}"
												class="btn btn-success mb-2 btn-block"> <i
												class="fa-solid fa-list-check mr-sm-2"></i>Ver carrito
											</a>
										</div>
									</div>
									<div>
										<!-- Descripción del producto -->
										<h5>Descripción del producto:</h5>
										<p id="productDescription" class="text-justify"></p>
									</div>
								</div>
							</div>


							<!-- Seccion de resennas de usuarios -->
							<div id="reviewsUser" class="col-12 mt-4 d-none">
								<h5>Reseñas de usuarios</h5>

								<!-- Formulario para nueva resenna -->
								<div class="card mb-3" id="postReview">
									<div class="card-body">
										<h5 class="card-title">Añadir una nueva reseña</h5>
										<div class="form-group">
											<textarea class="form-control" id="newReview" rows="3"
												placeholder="Escribe tu reseña aquí..."></textarea>
										</div>
										<button class="btn btn-primary">Publicar reseña</button>
									</div>
								</div>

								<!-- Resennas -->
								<div id="container-reviews"></div>

								<!--								<div class="card mt-3">-->
								<!-- 									<div class="card-body"> -->
								<!-- 										<h6 class="card-title">Nombre del Usuario</h6> -->
								<!-- 										<p class="card-text"> -->
								<!-- 											<span class="fa fa-star checked"></span> <span -->
								<!-- 												class="fa fa-star checked"></span> <span -->
								<!-- 												class="fa fa-star checked"></span> <span class="fa fa-star"></span> -->
								<!-- 											<span class="fa fa-star"></span> -->
								<!-- 										</p> -->
								<!-- 										<p class="card-text">Este es el comentario del usuario -->
								<!-- 											sobre el producto.</p> -->
								<!-- 										<button class="btn btn-danger btn-sm">Denunciar</button> -->
								<!-- 									</div> -->
								<!-- 								</div> -->

							</div>




						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- Modal -->
		<div class="modal fade" id="modalSendReport" tabindex="-1"
			role="dialog" aria-labelledby="notificationModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="notificationModalLabel">Enviar
							Notificación</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Estas son algunas de las razones más habituales por las que
							los clientes notifican sobre reseñas:</p>
						<ul>
							<li>Acoso, palabras malsonantes</li>
							<li>Correo no deseado, anuncios, promociones</li>
							<li>Entregados a cambio de dinero en efectivo, descuentos</li>
						</ul>
						<p>Cuando recibamos tu informe, comprobaremos si la reseña
							cumple con las normas de la comunidad. Si no es así, la
							eliminaremos.</p>
						<form id="notificationForm">
							<div class="form-group">
								<label for="reportReason">Describe el problema:</label>
								<textarea class="form-control" id="reportReason" rows="4"
									placeholder="Describe el problema aquí..."></textarea>
							</div>
							<button type="submit" class="btn btn-primary">Enviar</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal Pay -->
	<div th:fragment="modalPay">
		<div class="modal fade" id="modalPay" tabindex="-1" role="dialog"
			aria-labelledby="generalModal" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Aviso</h5>
					</div>
					<div class="modal-body" id="bodyModalPay"></div>
					<div class="modal-footer">
						<button id="hrefModalPay" class="btn btn-secondary"
							data-dismiss="modal">
							Aceptar</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal alerta -->
	<div th:fragment="adminModal">
		<div class="modal fade" id="adminModal" tabindex="-1" role="dialog"
			aria-labelledby="generalModal" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Alerta de Seguridad</h5>
					</div>
					<div class="modal-body" id="adminModalBody"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal"
							id="modalAdminBtnOk">Aceptar</button>
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal" id="modalAdminBtnCancel">Cancelar</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- FRAGMENTO PARA CONTENIDO DE PIE DE LAS PAGINAS -->
	<div
		class="d-flex flex-wrap  bg-dark text-white text-center py-3 bottom"
		th:fragment="footerContent" id="footer">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-md-4 col-sm-6">
					<div class="Shipping d-flex ">
						<p>Envíos con: &nbsp;</p>
						<div class="card-wrap ps-2">
							<a href="https://www.dhl.com/es-es/home.html" target="_blank"><img
								src="/images/dhl.png" alt="DHL" title="DHL" class="img-fluid"
								style="max-width: 100px;"></a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="payment-method d-flex">
						<p>Opción de pago: &nbsp;</p>
						<div class="card-wrap ps-2">
							<a href="https://www.paypal.com/es/home" target="_blank"><img
								src="/images/paypal-icon-8.png" alt="PayPal" title="PayPal"
								class="img-fluid" style="max-width: 50px;"></a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="card-wrap ps-2 ">
						<p>&copy; Copyright 2024</p>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript" th:src="@{/js/main.js}"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/big.js/5.2.2/big.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>
	</div>

	<!-- FRAGMENTO PARA MAQUETACION DE LAS PAGINAS -->
	<div class="space" th:fragment="footSpace">
		<div class="invisible d-md-block w-100"
			style="height: 70px; background-color: #f0f0f0;"></div>
	</div>
</body>

</html>