<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="es">

<!-- HEAD DEL HTML -->

<head th:replace="~{fragments/general-fragments :: headers}">
</head>

<body>
	<!-- CONTENIDO DE CABECERA DE LA APP -->
	<div th:replace="~{fragments/general-fragments :: headerContent}">
	</div>

	<!-- PANEL DE ADMINISTRACION -->
	<div th:replace="~{fragments/general-fragments :: headerAdmin}">
	</div>

	<div class="col text-center mb-5 mt-5">
		<img src="/images/admin.png" class="img-fluid"
			style="max-height: 420px;" alt="Panel de administración"
			title="Gestiona en las diferentes opciones la tienda" id="adminImage">
	</div>

	<!-- CONTENIDO DE PIE DE PAGINA -->
	<div th:replace="~{fragments/general-fragments :: footerContent}">
	</div>

	<script type="text/javascript" th:src="@{/js/adminSendings.js}"></script>
	<script>
		// Cargar notificaciones 
		window.onload = async function() {
			await loadAlerts();
		}
	</script>
</body>

</html>