<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<!-- HEAD DEL HTML -->

<head th:replace="~{general :: headers}">
</head>

<body>
	<!-- CONTENIDO DE CABECERA DE LA APP -->
	<div th:replace="~{general :: headerContent}">
	</div>

	<!-- BARRA LATERAL -->
	<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar" style="max-width:200px;">
		<div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
			<i class="fas fa-tachometer-alt mr-sm-2 fa-sm"></i>
			<span class="fs-4">Gestionar tienda</span>
		</div>
		<hr>
		<ul class="nav nav-pills flex-column mb-auto">
			<li>
				<a href="#" class="nav-link text-white">
					<i class="fas fa-shopping-basket fa-sm"></i>
					Pedidos
				</a>
			</li>
			<li>
				<a href="#" class="nav-link text-white">
					<i class="fas fa-box-open fa-sm"></i>
					Productos
				</a>
			</li>
			<li>
				<a href="#" class="nav-link text-white">
					<i class="fas fa-exclamation-triangle fa-sm"></i>
					Denuncias
				</a>
			</li>
			<li>
				<a href="#" class="nav-link text-white">
					<i class="fas fa-truck fa-sm"></i>
					Envíos
				</a>
			</li>
			<li>
				<a href="#" class="nav-link text-white">
					<i class="fas fa-users fa-sm"></i>
					Clientes
				</a>
			</li>
		</ul>
	</div>

	<div th:replace="~{general :: footSpace}">
	</div>

	<!-- CONTENIDO DE PIE DE PAGINA -->
	<div th:replace="~{general :: footerContent}">
	</div>

</body>

</html>