<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<!-- HEAD DEL HTML -->
<head th:replace="~{general-fragments :: headers}">
</head>

<body>
	<!-- CONTENIDO DE CABECERA DE LA APP -->
	<div th:replace="~{general-fragments :: headerContent}">
	</div>

	<!-- CONTENIDO DE LA PAGINA -->
	<div class="container text-center mt-5">
		<h2 class="mb-3">Productos</h2>
		<div class="row">
			<div class="col-md-3 mx-auto">

			</div>
		</div>
	</div>

	<div th:replace="~{general-fragments :: footSpace}">
	</div>

	<!-- CONTENIDO DE PIE DE PAGINA -->
	<div th:replace="~{general-fragments :: footerContent}">
	</div>

</body>

</html>