<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="es">

<!-- HEAD DEL HTML -->
<head th:replace="~{fragments/general-fragments :: headers}">
</head>

<body>
	<!-- CONTENIDO DE CABECERA DE LA APP -->
	<div th:replace="~{fragments/general-fragments :: headerContent}">
	</div>

	<!-- CONTENIDO DE LA PAGINA -->
	<div class="container mt-3 ">
		<div class="row">
			<div class="col-md-12 text-center">
				<img src="/images/welcome-index.png" class="img-fluid"
					style="max-height: 250px;" alt="Bienvenido" title="Bienvenido">
				<div>
					<h5>¡Saludos! Soy Goku. Bienvenido al Universo Saiyan. Explora
						el mundo de Dragon Ball Z con los mejores productos de este
						legendario Manga Japonés.</h5>
				</div>
			</div>
		</div>
	</div>

	<div class="container text-center mt-3" id="containerIndex"></div>

	</div>

	<!-- CONTENIDO DE PIE DE PAGINA -->
	<div th:replace="~{fragments/general-fragments :: footerContent}">
	</div>

	<script type="text/javascript" th:src="@{/js/index.js}"></script>
	<script>
		// Obtener todas las categorias 
		window.onload = function() {
			loadIndex();
		}
	</script>
</body>

</html>