<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="es">

<!-- HEAD DEL HTML -->

<head th:replace="~{fragments/general-fragments :: headers}">
</head>

<body>
	<!-- CONTENIDO DE CABECERA DE LA APP -->
	<div th:replace="~{fragments/general-fragments :: headerContent}">
	</div>

	<!-- FORMULARIO DE BUSQUEDA -->
	<div class="container mt-4">
		<div class="row d-flex justify-content-center">
			<div class="col-md-12">
				<div class="card p-3 py-4">
					<h5>Una manera más fácil de encontrarlo </h5>
					<div class="row g-3 mt-2">
						<div class="col-md-3">
							<div class="dropdown"> <button class="btn btn-secondary dropdown-toggle" type="button"
									id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false"> Categorías
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<li><a class="dropdown-item" href="#">Camisetas</a></li>
									<li><a class="dropdown-item" href="#">Gorras</a></li>
									<li><a class="dropdown-item" href="#">Figuras</a></li>
									<li><a class="dropdown-item" href="#">Mochilas</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-6"> <input type="text" class="form-control"
								placeholder="¿Qué estás buscando?"> </div>
						<div class="col-md-3"> <button class="btn btn-secondary btn-block">Buscar</button>
						</div>
					</div>

					<div class="form-inline justify-content-center mt-3">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="inlineRadioOptions" id="des"
								value="option1">
							<label class="form-check-label" for="des">Descendente</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="inlineRadioOptions" id="asc"
								value="option2">
							<label class="form-check-label" for="asc">Ascendente</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- PRODUCTOS -->
	<div class="container text-center mt-5">
		<h2 class="mb-3">Productos</h2>
		<div class="row">
			<div class="col-md-3 mx-auto">

			</div>
		</div>
	</div>

	<div th:replace="~{fragments/general-fragments :: footSpace}">
	</div>

	<!-- CONTENIDO DE PIE DE PAGINA -->
	<div th:replace="~{fragments/general-fragments :: footerContent}">
	</div>

</body>

</html>