<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="es">

<!-- HEAD DEL HTML -->
<head th:replace="~{fragments/general-fragments :: headers}">
</head>

<body>
	<!-- CONTENIDO DE CABECERA DE LA APP -->
	<div th:replace="~{fragments/general-fragments :: headerContent}">
	</div>

	<!-- CONTENIDO DE LA PAGINA -->
	<div class="container text-center mt-3 mb-3">
		<h2 class="mb-3">Recuperación de contraseña</h2>
		<form action="/users/resetPasswd" method="POST">
			<div id="passwordError" class="alert alert-danger d-none"
				role="alert"></div>
			<div th:if="${message != null}" class="alert alert-danger"
				role="alert">
				<span th:text="${message}"></span>
			</div>
			<input type="hidden" name="userId" th:value="${userId}" />
			<input type="hidden" name="answers" value="new java.util.ArrayList()" />
			<div class="form-group">
				<label for="question1">Pregunta 1</label> <input type="text"
					class="form-control mb-2" id="question1" th:value="${question1}"
					readonly> <input type="text" class="form-control mb-2"
					id="answer1" placeholder="Respuesta" name="answers[0]" required>
			</div>
			<div class="form-group">
				<label for="question2">Pregunta 2</label> <input type="text"
					class="form-control mb-2" id="question2" th:value="${question2}"
					readonly> <input type="text" class="form-control mb-2"
					id="answer2" placeholder="Respuesta" name="answers[1]" required>
			</div>
			<div class="form-group">
				<label for="question3">Pregunta 3</label> <input type="text"
					class="form-control mb-2" id="question3" th:value="${question3}"
					readonly> <input type="text" class="form-control mb-2"
					id="answer3" placeholder="Respuesta" name="answers[2]" required>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="passwd">Nueva contraseña</label> <input type="password"
						class="form-control" id="passwd" name="passwd" placeholder="Nueva contraseña"
						onblur="checkPasswords()" autocomplete="new-password"
						pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$%^&+=!*])(?=\S+$).{7,}$"
						title="La contraseña debe contener al menos una letra mayúscula, una letra minúscula, un dígito, un carácter especial y tener al menos 7 caracteres"
						required>
				</div>
				<div class="form-group col-md-6">
					<label for="confirmPasswd">Confirmar contraseña</label> <input
						type="password" class="form-control" id="confirmPasswd"
						placeholder="Confirmar contraseña" required
						onblur="checkPasswords()" autocomplete="new-password"
						pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$%^&+=!*])(?=\S+$).{7,}$"
						title="La contraseña debe contener al menos una letra mayúscula, una letra minúscula, un dígito, un carácter especial y tener al menos 7 caracteres">
				</div>
			</div>
			<button type="submit" id="submitButtonRegister"
				class="btn btn-primary">Enviar</button>
		</form>
	</div>

	<!-- CONTENIDO DE PIE DE PAGINA -->
	<div th:replace="~{fragments/general-fragments :: footerContent}">
	</div>
</body>

</html>