<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="es">

<!-- HEAD DEL HTML -->
<head th:replace="~{fragments/general-fragments :: headers}">
</head>

<body>
	<!-- CONTENIDO DE CABECERA DE LA APP -->
	<div th:replace="~{fragments/general-fragments :: headerContent}">
	</div>

	<!-- CONTENIDO DE LA PAGINA -->
	<div class="container text-center mt-3 mb-3">
		<h2 class="mb-3">Recuperación de contraseña</h2>
		<form >
			<div class="form-group">
				<label for="pregunta1">Pregunta 1</label> <input type="text"
					class="form-control mb-2" id="pregunta1" readonly> <input
					type="text" class="form-control mb-2" id="respuesta1"
					placeholder="Respuesta" required>
			</div>
			<div class="form-group">
				<label for="pregunta2">Pregunta 2</label> <input type="text"
					class="form-control mb-2" id="pregunta2" readonly> <input
					type="text" class="form-control mb-2" id="respuesta2"
					placeholder="Respuesta" required>
			</div>
			<div class="form-group">
				<label for="pregunta2">Pregunta 3</label> <input type="text"
					class="form-control mb-2" id="pregunta2" readonly> <input
					type="text" class="form-control mb-2" id="respuesta3"
					placeholder="Respuesta" required>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="newPassword1">Nueva Contraseña</label> <input
						type="password" class="form-control" id="newPassword1"
						placeholder="Nueva Contraseña" required>
				</div>
				<div class="form-group col-md-6">
					<label for="newPassword2">Confirmar Contraseña</label> <input
						type="password" class="form-control" id="newPassword2"
						placeholder="Confirmar Contraseña" required>
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Enviar</button>
		</form>
	</div>

	<!-- CONTENIDO DE PIE DE PAGINA -->
	<div th:replace="~{fragments/general-fragments :: footerContent}">
	</div>

</body>

</html>